<h1 class="title">
  THRESHOLD <br>(Future companion site)
</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Event to Database</h3>
  </div>
  <div class="panel-body">
    <div>
      <div class="row">
        <div class="col-sm-3">
          <label>Event Title</label>
          <br>
          <input #newTitle required="">
        </div>
        <div class="col-sm-3">
          <label>Date</label>
          <br>
          <input #newDate>
        </div>
        <div class="col-sm-3">
          <label>Location</label>
          <br>
          <input #newLocation>
        </div>
        <div class="col-sm-3">
          <label>Link</label>
          <br>
          <input #newLink>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label>ImageUrl</label>
          <br>
          <input #newImageUrl>
        </div>
        <div class="col-sm-3">
          <label>Cause</label>
          <br>
          <input #newCause>
        </div>
        <div class="col-sm-3">
          <label>Action</label>
          <br>
          <input #newAction>
        </div>
        <div class="col-sm-3">
          <label>Price</label>
          <br>
          <input #newPrice>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label>Description</label>
          <br>
          <input #newDescription>
        </div>
        <div class="col-sm-3">
          <label>Threshold</label>
          <br>
          <input #newThreshold>
        </div>
      </div>


      <button class="btn btn-primary"(click)="submitForm(newTitle.value, newLocation.value, newLink.value, newDate.value, newDescription.value, newImageUrl.value, newCause.value, newAction.value, newPrice.value, newThreshold.value); newTitle.value=''; newLocation.value=''; newLink.value=''; newDate.value=''; newDescription.value=''; newImageUrl.value=''; newCause.value=''; newAction.value=''; newPrice.value=''; newThreshold.value='';">Add</button>
    </div>
  </div>
</div>
